* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3F0D7;
    font-family: "Zilla Slab", serif;
}

h2 {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    text-align: center;
    color: #FF8C32;
    margin-top: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #21325E;
    padding: 20px;
}


.container {
    display: flex;
    justify-content: center;
}

.container-urun {
    background-color: antiquewhite;
    height: 80%;
    border-radius: 10px;
    padding: 10px;
    border: 4px ridge #FF8C32;
}

.menu {
    margin-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.btn-item {
    margin-left: 25px;
}

.photo {
    height: 200px;
    object-fit: cover;
    border: 0.25rem solid #FF8C32;
    border-radius: 10px;
}

.photo-tarif {
    border: 4px ridge antiquewhite;
}

.menu-items {
    display: flex;
    margin: 20px 0;
}

.menu-info {
    width: 100%;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-weight: 600;
    padding-bottom: 10px;
}

h4 {
    color: #e00a00;
}

.menu-text {
    padding-top: 20px;
}

.button-special {
    width: 120px;
    height: 35px;
    appearance: none;
    background-color: #21325E;
    border-width: 0;
    border: 0.1px solid darkgray;
    border-radius: 5%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 0.5em;
    margin-right: 0;
    opacity: 1;
    outline: 0;
    padding: 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.button-special:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #FF8C32;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-special:hover {
    color: white;
}

.button-special:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-special:after {
    background-color: #FFFFFF;
}

.button-special span {
    z-index: 1;
    position: relative;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 3px solid #21325E;
    padding: 20px;
    padding-top: 35px;
    margin: 20px;
    width: 600px;
    height: 270px;
    background-color: #FFE898;
}

.card:hover {
    background: #21325E;
    color: whitesmoke;
    cursor: pointer;
}

.g-0 {
    height: 300px;
}

.button-special.clicked {
    border: 2px solid #FF8C32;
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    div.card{
        width: 600px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    div.card{
        width: 300px;
        height: 400px;
    }

    button.button-special{
        margin-right: 0px;
        width: 100px;
        padding: 0;
    }

    div.btn-row {
        width: fit-content;
    }

    div#cardContainer {
        margin-left: 10px;
    }

    div.col-xs-12 {
        height: 400px;
        margin-bottom: 50px;
    }
}

#urunBaslik {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    text-align: center;
    color: #FF8C32;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}